
.box1{
    background-color: aqua;
}

.box2{
    background-color: blueviolet;
}

.box3{
    background-color: chartreuse;
}

.box4{
    background-color: crimson;
}

.box5{
    background-color: darkgrey;
}

.box6{
    background-color:darkcyan;
}

.box7{
    background-color: darkgoldenrod;
}